   <main>
       <article>
           <div class="hgroup">
               <h2 id="add_about"><a class="anchorjs-link" href="#add_about"></a>
                   Adicionar usuário
               </h2>
           </div>
       </article>
   </main>
   <form name="frm" method="post">
       <input type="hidden" name="id" id="id" value="{P->ID}">
       <div class="content page-add-user">
           <section class="section-form">
               <div class="form-group">
                   <label for="status">Status: </label>
                   <div class="input-container">
                       <select name="status" id="status" value="{P->STATUS}" title="Status: ">
                           <option value="0">Waitting confirmation</option>
                           <option value="1">User</option>
                           <option value="67">Administrator</option>
                       </select>
                   </div>
               </div>
               <div class="form-group">
                   <label for="nome">Name: </label>
                   <div class="input-container">
                       <input type="text" name="nome" id="nome" value="{P->NOME}" title="Name: ">
                   </div>
               </div>

               <div class="form-group">
                   <label for="email">E-mail: </label>
                   <div class="input-container">
                       <input type="email" name="email" id="email" value="{P->EMAIL}" title="E-mail: ">
                   </div>
               </div>

               <div class="form-group">
                   <label for="url">URL: </label>
                   <div class="input-container">
                       <input type="url" name="url" id="url" value="{P->URL}" title="URL: ">
                   </div>
               </div>

               <div class="form-group">
                   <label for="obs">Text: </label>
                   <div class="input-container">
                       <textarea name="obs" id="obs" value="{P->OBS}" title="Text: "></textarea>
                   </div>
               </div>
               <div class="buttons">
                   <button type="button" name="voltar" id="voltar"
                       onclick="javascript:window.location='snapsect_user_ger.php';">
                       Cancel </button>
                   <button type="submit" name="save" id="save">
                       <i class="far fa-save"></i> Salvar</button>

               </div>
           </section>
       </div>
       <script language="javascript" src="templates/func.js"></script>
       <script language="javascript" src="templates/myajax.js"></script>

   </form>
   <script>
       window.onload = function () {
           document.getElementById('status').value = '{P->STATUS}';
       };
   </script>