<form name="frm" method="POST">
<fieldset>
        <legend>
            <img title="SnapSects" src="./img/logo/site-logo.svg">
            <span class="sr-only">SnapSects</span>
        </legend>
            <h2>[dic324]:</h2>
                <ul>
                    <li>
                        <label for="nome">[dic261]</label>
                        <input type="text" name="nome" id="nome" value="" placeholder="[dic261]" required
                            autofocus>
                    </li>
                    <li>
                            <label for="email">[dic262]</label>
                            <input type="email" name="email" id="email" value="" placeholder="[dic262]" required
                                autofocus>
                        </li>
                    <li>
                        <label for="pws">[dic276]</label>
                        <input type="password" name="pws" id="pws" value="" placeholder="***">
                    </li>
                    <li>
                        <label for="pws2">[dic300]</label>
                        <input type="password" name="pws2" id="pws2" value="" placeholder="***">
                    </li>
                    <li>
                            <p>[dic188]</p>
                        </li>
                        <li>
                            <label for="url">[dic189]</label>
                            <input type="url" name="url" id="url" value="" placeholder="http://">
                            </li>
                </ul>

                <input class="send" type="submit" name="cmdadduser" id="cmdadduser" value="[dic328]">
                <div class="login-create-account">[dic325] <a href="SITE_URLlogin.php">[dic326]</a>. </div>
    </fieldset>
    </form>
    <footer><a href="SITE_URLsnapsect_ger.php">[dic327]</a></footer>