
<div id="menu">
<table width="100%"><tr>
<td width="20%"><input type="button" onclick="javascript:window.location='snapsect_ger.php';" value="BACK"></td>
<td width="60%">SNAPSECTS - ADM</td>
<td width="20%"></td>
</tr></table>
</div>
<form name="frmt" id="frmt" method="post">
<input type="hidden" name="act" id="act" value="1">
<label for="t0">Arthropoda:</label>
<textarea width="500px" height="300px" id="t0" name="t0">{T0}</textarea>
<label for="t1">Arachinida:</label>
<textarea width="500px" height="300px" id="t1" name="t1">{T1}</textarea>
<label for="t2">Chilopoda:</label>
<textarea width="500px" height="300px" id="t2" name="t2">{T2}</textarea>
<label for="t3">Diplopoda:</label>
<textarea width="500px" height="300px" id="t3" name="t3">{T3}</textarea>
<label for="t4">Insecta:</label>
<textarea width="500px" height="300px" id="t4" name="t4">{T4}</textarea>
<label for="t5">Malacostraca:</label>
<textarea width="500px" height="300px" id="t5" name="t5">{T5}</textarea>
<input type="submit" id="save" value="Save">
</form>

{TEXTO}
