<!DOCTYPE html>
                                 <html lang="en-US">
    <head>
<meta charset="UTF-8">
    <title>SnapSects</title>
<style>
p {
text-align: justify;
}
</style>
  </head>
  <body onload="javascript:loading();">
<center><h1>SnapSects</h1></center>
<form name="frm" enctype="multipart/form-data" method="post">
<input type="hidden" name="id" id="id" value="{P->ID}">
<table border=0 width="100%"><tr>
<td width="33%"><input type="button" name="voltar" id="voltar" value="Discard Changes" onclick="javascript:window.location='show_snapsect.php?id={P->ID}';"></td>
<td width="33%"></td>
<td width="33%"><center><input type="submit" name="saveandview" id="saveandview" value="SAVE AND VIEW" ></center></td>
</tr><tr>
<td width="33%"></td>
<td width="33%"><br><center><img src="http://www.snapsects.com/pt-br/img/logo_application.jpeg" width="50%" alt="SNAPSECT logo"></center><center><div id="nometitulo"></div></center></td>
<td width="33%"></td>
</tr></table>
<hr>
<script language="javascript" src="templates/func.js"></script>
<script language="javascript" src="js/spajax.js"></script>
<script language="javascript" >
function mostraimagem(arq, obj) {
document.getElementById(obj).src = 'http://www.snapsects.com/pt-br/img/'+arq.replaceAll(' ','_')+'.jpg';
document.getElementById(obj).width = 200;
} // da funcao

function changetela(tela) {
document.getElementById('cmdprincipal').enabled = true;
document.getElementById('dvauthor').style.display='none';
document.getElementById('dvprincipal').style.display='none';
document.getElementById('dvdescriptions').style.display='none';
document.getElementById('dvmore').style.display='none';
document.getElementById('dvmediation').style.display='none';
document.getElementById('dvnotes').style.display='none';
document.getElementById('dvaudiodesc').style.display='none';
document.getElementById('dvbibliography').style.display='none';
document.getElementById('dvaudiodesc').style.display='none';
document.getElementById(tela).style.display='inline';
document.getElementById('cmdprincipal').enabled = false;
} // da funcao.

function loading() {
if ({P->ID} < 1) document.getElementById('remover').style.display='none';
document.getElementById('classe').value='{P->CLASSE}';
document.getElementById('development').value='{P->DEVELOPMENT}';
document.getElementById('gender').value='{P->GENDER}';
document.getElementById('lstantennae').value='{P->LSTANTENNAE}';
document.getElementById('lstmouthparts').value='{P->LSTMOUTHPARTS}';
document.getElementById('lstwings').value='{P->LSTWINGS}';
document.getElementById('lsthindwings').value='{P->LSTHINDWINGS}';
document.getElementById('lstnumlegs').value='{P->LSTNUMLEGS}';
document.getElementById('lstlegs').value='{P->LSTLEGS}';
document.getElementById('cerci').value='{P->CERCI}';
document.getElementById('tarsomere').value='{P->TARSOMERE}';
changetela('{DVINIT}');
} // da funcao...

function getgps() {
navigator.geolocation.getCurrentPosition(function(l) {
document.getElementById('lat').value = l.coords.latitude;
document.getElementById('lng').value = l.coords.longitude;
spjson("http://maps.google.com/maps/api/geocode/json?latlng="+l.coords.latitude+","+l.coords.longitude+"&sensor=false&region=", '', '', function(data) {
// alert(JSON.stringify(data.results[0].address_components[1].short_name));
var e = data.results[0];
document.getElementById('address').value=e.address_components[1].short_name+', '+e.address_components[0].short_name;
document.getElementById('city').value=e.address_components[3].long_name;
document.getElementById('uf').value=e.address_components[5].long_name;
document.getElementById('country').value=e.address_components[6].long_name;
});
}, function(e) { });
} // da funcao...

function clearaudiodesc() {
document.getElementById('audiodesc').value='';
} // da funcao

function getaudiodesc() {
var t='[ Visual attributes: ] '+document.getElementById('colors').value+'\n';
t+='[ Body (size shape and segments): ] '+document.getElementById('bbody').value+'\n';
t+='[ Head (size shape and other attributes of the head of your specimen): ] '+document.getElementById('hhead').value+'\n';
t+='[ Thorax: ] '+document.getElementById('thorax').value+'\n';
t+='[ Abdomen: ] '+document.getElementById('abdomen').value+'\n';
t+='[ Type of antennae: ] '+document.getElementById('lstantennae').value+'\n';
t+='[ Antennae: ] '+document.getElementById('antennae').value+'\n';
t+='[ Eyes and ocelli: ] '+document.getElementById('eyesandocelli').value+'\n';
t+='[ Type of mouth parts: ] '+document.getElementById('lstmouthparts').value+'\n';
t+='[ Mouth parts: ] '+document.getElementById('mouthparts').value+'\n';
t+='[ Type of forewings: ] '+document.getElementById('lstwings').value+'\n';
t+='[ Forewings: ] '+document.getElementById('wings').value+'\n';
t+='[ Type of hind wings: ] '+document.getElementById('lsthindwings').value+'\n';
t+='[ Hind wings: ] '+document.getElementById('hindwings').value+'\n';
t+='[ Number of legs: ] '+document.getElementById('lstnumlegs').value+'\n';
t+='[ Type of legs: ] '+document.getElementById('lstlegs').value+'\n';
t+='[ Locomotive legs: ] '+document.getElementById('locomotive').value+'\n';
t+='[ Tarsomere: ] '+document.getElementById('tarsomere').value+'\n';
t+='[ Cerci: ] '+document.getElementById('cerci').value+'\n';
t+='[ Specific characteristics: ] '+document.getElementById('specificcharacteristics').value+'\n';
t+='[ Collecting method: ] '+document.getElementById('collecting').value+'\n';
t+='[ Habitat (Place of collection): ] '+document.getElementById('place').value+'\n';
t+='[ Mediation text: ] '+document.getElementById('mediation').value+'\n';
 document.getElementById('audiodesc').value = t;
} // da funcao

function clearnotes() {
document.getElementById('notes').value='';
} // da funcao

function getnotes() {
var t='[ Common name: ] '+document.getElementById('commonname').value+'\n';
t+='[ Scientific name: ] '+document.getElementById('scientificname').value+'\n';
t+='[ Author and Date: ] '+document.getElementById('other').value+'\n';
t+='[ Kingdom: ] '+document.getElementById('kingdom').value+'\n';
t+='[ Phylum (Arthropoda): ] '+document.getElementById('phylum').value+'\n';
t+='[ Class: (Insecta): ] '+document.getElementById('classe').value+'\n';
t+='[ Order of your specimen: ] '+document.getElementById('oorder').value+'\n';
t+='[ Family: ] '+document.getElementById('family').value+'\n';
t+='[ Genus: ] '+document.getElementById('genus').value+'\n';
t+='[ Species: ] '+document.getElementById('species').value+'\n';
t+='[ Sex: ] '+document.getElementById('gender').value+'\n';

t+='[ Development: ] '+document.getElementById('development').value+'\n';
t+='[ Metamorphosis: ] '+document.getElementById('metamorphosis').value+'\n';
t+='[ Collecting method: ] '+document.getElementById('collecting').value+'\n';
t+='[ Place of collection: ] '+document.getElementById('place').value+'\n';
t+='[ Abiotic factors: ] '+document.getElementById('win').value+'\n';
t+='[ Localization: ] '+document.getElementById('address').value+'\n';
t+='[ Latitude: ] '+document.getElementById('lat').value+'\n';
t+='[ Longitude: ] '+document.getElementById('lng').value+'\n';
t+='[ City: ] '+document.getElementById('city').value+'\n';
t+='[ State or Province: ] '+document.getElementById('uf').value+'\n';
t+='[ Country: ] '+document.getElementById('country').value+'\n';
t+='[ Date of collection: ] '+document.getElementById('datacad').value+'\n';
t+='[ Temperature: ] '+document.getElementById('temperature').value+'\n';

 document.getElementById('notes').value = t;
} // da funcao

function delimage() {
spopen('http://www.snapsects.com/pt-br/snapsect_api.php','act=delimage&id={P->ID}','POST', function(res) {
document.getElementById('photodesc').value='';
document.getElementById('grfoto').src = '';
});
} // da funcao.

</script>
<table border=0 width="100%"><tr>
<!-- BEGIN BLOCK_TAB -->
<td><center><input type="button" id="cmdauthor" onclick="javascript:changetela('dvauthor');" value="DESCRIBERS AND COLLABORATORS"></center></td>
<!-- END BLOCK_TAB -->
<td><center><input type="button" id="cmdprincipal" onclick="javascript:changetela('dvprincipal');" value="IDENTIFY YOUR ARTHROPOD" ></center></td>
<td><center><input type="button" id="cmddescriptions" onclick="javascript:changetela('dvdescriptions');" value="DESCRIBE YOUR ARTHROPOD" ></center></td>
<td><center><input type="button" id="cmdmore" onclick="javascript:changetela('dvmore');" value="COLLECTING METHOD" ></center></td>
<td><center><input type="button" id="cmdnotes" onclick="javascript:changetela('dvnotes');" value="PROEMIAL NOTES" ></center></td>
<td><center><input type="button" id="cmdaudiodesc" onclick="javascript:changetela('dvaudiodesc');" value="AUDIO DESCRIPTION" ></center></td>
<td><center><input type="button" id="cmdmediation" onclick="javascript:changetela('dvmediation');" value="MEDIATION TEXT" ></center></td>
<td><center><input type="button" id="cmdbibliography" onclick="javascript:changetela('dvbibliography');" value="BIBLIOGRAPHY" ></center></td>
<td><center><input type="button" id="cmdpicture" onclick="javascript:changetela('dvpicture');" value="PICTURE" ></center></td>
</tr></table>
<hr>
<div id="dvprincipal" style="display:inline">
<p>Write the name or names that your specimen is commonly known as.</p>
<p><label for="commonname">Common name: </label><input type="text" name="commonname" id="commonname" value="{P->COMMONNAME}"></p>
<p>Write the scientific name of your specimen</p>
<p><label for="scientificname">Scientific name: </label><input type="text" name="scientificname" id="scientificname" value="{P->SCIENTIFICNAME}"></p>
<p>Write who identified your specimen; write the year your specimen was identified.</p>
<p><label for="other">Author and Date: </label><input type="text" name="other" id="other" value="{P->OTHER}"></p>
<p><label for="kingdom">Kingdom: Animalia: </label><input type="text" name="kingdom" id="kingdom" value="{P->KINGDOM}"></p>
<p><label for="phylum">Phylum: Arthropoda: </label><input type="text" name="phylum" id="phylum" value="{P->PHYLUM}"></p>
<p>Select the class of your specimen</p>
<p><label for="classe">Select Class: </label><select name="classe" id="classe" value="{P->CLASSE}" onchange="javascript:mostraimagem(this.value,'imgclass');">
<option value="">Not informed</option>
<option value="Arachinida">Arachinida</option>
<option value="Chilopoda">Chilopoda</option>
<option value="Diplopoda">Diplopoda</option>
<option value="Insecta">Insecta</option>
<option value="Malacostraca">Malacostraca</option>
</select> <img id="imgclass" align="right" width="200px"></p>
<p>Write the order of your specimen</p>
<p><label for="oorder">Order: </label><input type="text" name="oorder" id="oorder" value="{P->OORDER}"></p>
<p>Write the family of your specimen</p>
<p><label for="family">Family: </label><input type="text" name="family" id="family" value="{P->FAMILY}"></p>
<p>Write the genus of your specimen</p>
<p><label for="genus">Genus: Write the Genus of your specimen: </label><input type="text" name="genus" id="genus" value="{P->GENUS}"></p>
<p>Write the species of your specimen</p>
<p><label for="species">Species: </label><input type="text" name="species" id="species" value="{P->SPECIES}"></p>
<p>Select the Sex of your specimen.</p>
<p><label for="gender">Select Sex: </label><select name="gender" id="gender" >
<option value="">Not informed</option>
<option value="female">female</option>
<option value="male">male</option>
<option value="unknown">unknown</option>
</select></p>
<p>Tell what developmental stage the specimen is in (e.g., larvae, pupa, nymph and adult).</p>
<p><label for="development">Select the developmental stage: </label><select name="development" id="development" value="{P->DEVELOPMENT}">
<option value="">Not informed</option>
<option value="Larvae">Larvae</option>
<option value="Pupa">Pupa</option>
<option value="Nymph">Nymph</option>
<option value="Adult">Adult</option>
<option value="Unknown">Unknown</option>
</select></p>
<p>Tell what type of metamorphosis your specimen has. For instance, its  metamorphosis is simple, gradual or complete, it has incomplete metamorphosis.</p>
<p><label for="metamorphosis">Metamorphosis: </label><input type="text" name="metamorphosis" id="metamorphosis" value="{P->METAMORPHOSIS}"></p>
</div>
<div id="dvdescriptions" style="display:none">
<p>Describe your specimen clearly, with detailed visual attributes; indicate the color(s) of your specimen; e.g., it has black dots, it is luminous, it has black and brown stripes, or it's a blue butterfly.</p>
<p><label for="colors">Visual attributes: </label></p>
<p><textarea name="colors" id="colors" width="500px" height="300px">{P->COLORS}</textarea></p>
<p>Tell the weight, size, length, width and shape of your specimen (e.g., It is long, its body is elongate and stick-like; or It is broad, flattened laterally compressed.  Tell how body of your specimen is divided (e.g., Its body is divided in head, thorax and abdomen; is divided in cephalothorax and abdomen or in head and trunk).</p>
<p><label for="bbody">Body: </label><input type="text" name="bbody" id="bbody" value="{P->BBODY}"></p>
<p>Tell the size and shape of the head of your specimen (e.g., it is triangular or rounded; It has bulbous regions between mouthparts and antennae; or Drawn into a beak with mouthparts forward”.</p>
<p><label for="hhead">Head: </label><input type="text" name="hhead" id="hhead" value="{P->HHEAD}"></p>
<p>Tell the size, shape, length, number of segments, number of existing wings, and/or legs in the thorax of your specimen.</p>
<p>Describe its Pronotum shape (e.g., It is short and distinct from the head; It is short and distinct from sides of prothorax; It is entirely or almost entirely covering head; It is elongate; It is long and wide; Short, with lobes descending over sides of the prothorax).</p>
<p><label for="thorax">Thorax: </label><input type="text" name="thorax" id="thorax" value="{P->THORAX}"></p>
<p>Tell the size, shape, length and number of segments of the abdomen of your specimen. Describe the overall abdomen shape of your specimen: (e.g., It is oval or elongate). Also describe the parts of the abdomen: abdominal base (e.g., Broadly attached to thorax; Constricted to a narrow waist flexibly hinged to body), abdominal apex (e.g., With a one long filament; With two long filaments; With three long filaments; With a forked jumping organ; With hardened forceps), type of cerci (e.g., Short with one segment; Elongate with more than two segments).</p>
<p><label for="abdomen">Abdomen: </label><input type="text" name="abdomen" id="abdomen" value="{P->ABDOMEN}"></p>

<p><label for="lstantennae">Select type of Antennae: </label><select name="lstantennae" id="lstantennae" value="{P->LSTANTENNAE}" onchange="javascript:mostraimagem(this.value,'imglstantennae');">
<option value="">Not informed</option>
<option value="Filiform">Filiform</option>
<option value="Setaceous">Setaceous</option>
<option value="Geniculate">Geniculate</option>
<option value="Plumose">Plumose</option>
<option value="Clavate (gradual club)">Clavate (gradual club)</option>
<option value="Capitate (abrupt club or knob)">Capitate (abrupt club or knob)</option>
<option value="Aristate">Aristate</option>
<option value="Monoliform or Moniliform">Monoliform or Moniliform</option>
<option value="Lamelate or Lamelar">Lamelate or Lamelar</option>
<option value="Serrate">Serrate</option>
<option value="Pectinate">Pectinate</option>
<option value="Minute and bristle-like">Minute and bristle-like</option>
<option value="Flabellate">Flabellate</option>
<option value="other (add type in description box)">other (add type in description box)</option>
</select> <img id="imglstantennae" align="right" width="200px"></p>
<p>Describe the antennae of your specimen. Describe number of antennae, the direction of the antennae (e.g., Projecting from the top of the head and curving behind along the body; Projecting from top sides of the head pointing forward), the shape (e.g., Densely feathered antennae; Hooked club-like antennae), length (e.g., “Longer than the body”).</p>
<p><label for="antennae">Antennae: </label><input type="text" name="antennae" id="antennae" value="{P->ANTENNAE}"></p>
<p>Tell the number, size and type of eyes and ocelli your specimen has. Describe the shape of the eyes and ocelli, where they are located on the head (e.g., Separated; Meeting in midline dorsally) and their localization in relation to other parts in the head.</p>
<p><label for="eyesandocelli">Eyes and ocelli: </label><input type="text" name="eyesandocelli" id="eyesandocelli" value="{P->EYESANDOCELLI}"></p>
<p><label for="lstmouthparts">Select type of Mouth parts: </label><select name="lstmouthparts" id="lstmouthparts" onchange="javascript:mostraimagem(this.value,'imglstmouthparts');">
<option value="">Not informed</option>
<option value="Chewing">Chewing</option>
<option value="Sucking (Sucker-maxillary)">Sucking (Sucker-maxillary)</option>
<option value="Sucking-labial">Sucking-labial</option>
<option value="Lapping">Lapping</option>
<option value="Sponging">Sponging</option>
<option value="Piercing-sucking">Piercing-sucking</option>
<option value="Siphoning">Siphoning</option>
<option value="other (add type in description box)">other (add type in description box)</option>
</select> <img id="imglstmouthparts" align="right" width="200px"></p>
<p>Describe what types of mouth parts that your specimen has: (include the number and shapes of parts, Mandibles and tubular structure. Also tell where they are located in the head (e.g., External, with chewing mandibles; Forming a coiled, cylindrical tube beneath the head; Inside the head capsule).</p>
<p><label for="mouthparts">Mouth parts: </label><input type="text" name="mouthparts" id="mouthparts" value="{P->MOUTHPARTS}"></p>
<p><label for="lstwings">Select type of forewings: </label><select name="lstwings" id="lstwings" onchange="javascript:mostraimagem(this.value,'imglstwings');">
<option value="">Not informed</option>
<option value="Membranous">Membranous</option>
<option value="Elytra">Elytra</option>
<option value="Hemielytra">Hemielytra</option>
<option value="Tegmina">Tegmina</option>
<option value="Fringed">Fringed</option>
<option value="Scaly">Scaly</option>
<option value="Aptera (no wings)">Aptera (no wings)</option>
<option value="other (add type in description box)">other (add type in description box)</option>
</select> <img id="imglstwings" align="right" width="200px"></p>
<p>Describe the wings of your specimen. Describe the color, pattern and texture (e.g., Both pairs of wings are membranous, covered in microscopic hairs; With many veins and cross veins; Forewings leathery and brown, Forewings hard, opaque, forming close-fitting covers over abdomen, hind wings transparent;). Describe the size and shape (e.g., Broad, large; Narrow, with a fringe of long hairs; Narrow), the length and number of wings (e.g., Four wings; Two, hind pair reduced to tiny clubs; Two, fore pair reduced to small clubs), the length of wingspan. Indicate whether wings are functional for flight (e.g., Functional; Reduced to small pads).</p>
<p><label for="wings">Forewings: </label><input type="text" name="wings" id="wings" value="{P->WINGS}"></p>
<p><label for="lsthindwings">Select type of Hind Wings: </label><select name="lsthindwings" id="lsthindwings" onchange="javascript:mostraimagem(this.value,'imglsthindwings');">
<option value="">Not informed</option>
<option value="Membranous">Membranous</option>
<option value="Haltere (dumbbells)">Haltere (dumbbells)</option>
<option value="Fringed">Fringed</option>
<option value="Scaly">Scaly</option>
<option value="Aptera (no hind wings)">Aptera (no hind wings)</option>
<option value="other (add type in description box)">other (add type in description box)</option>
</select> <img id="imglsthindwings" align="right" width="200px"></p>
<p>Describe the hind wings of your specimen. Describe the color, pattern and texture (e.g., Both pairs of hind wings are membranous, covered in microscopic hairs; With many veins and cross veins; hind wings leathery and brown, hind wings hard, opaque, forming close-fitting covers over abdomen, hind wings transparent;). Describe the size and shape (e.g., Broad, large; Narrow, with a fringe of long hairs; Narrow), the length and number of hind wings (e.g., Four wings; Two, hind pair reduced to tiny clubs; Two, fore pair reduced to small clubs), the length of wingspan. Indicate whether wings are functional for flight (e.g., Functional; Reduced to small pads).</p>
<p><label for="hindwings">Hind Wings: </label><input type="text" name="hindwings" id="hindwings" value="{P->HINDWINGS}"></p>
<p><label for="lstnumlegs">Select number of legs: </label><select name="lstnumlegs" id="lstnumlegs">
<option value="">Not informed</option>
<option value="6">six</option>
<option value="8">eight</option>
<option value="10">ten</option>
<option value="+10">more than ten (add number in description box)</option>
</select></p>
<p><label for="lstlegs">Select the type of legs: </label><select name="lstlegs" id="lstlegs" onchange="javascript:mostraimagem(this.value,'imglstlegs');">
<option value="">Not informed</option>
<option value="Ambulatorial">Ambulatorial</option>
<option value="Cursorial">Cursorial</option>
<option value="Saltatorial">Saltatorial</option>
<option value="Scansorial">Scansorial</option>
<option value="Fossorial">Fossorial</option>
<option value="Raptorial">Raptorial</option>
<option value="Natatorial">Natatorial</option>
<option value="Collector">Collector</option>
<option value="other (add types in description box)">other (add types in description box)</option>
</select> <img id="imglstlegs" align="right" width="200px"></p>
<p>Describe the legs of your specimen. Tell how they are modified or adapted. For instance, Forelegs (e.g., Forelegs armed with stout spines and modified for seizing prey; Foretarsi with basal segment swollen, containing silk glands), Hind Legs (e.g., Hind legs enlarged, modified for jumping; its hind legs are collectors or it has collector legs). Include the descriptions of the leg segments such as cocci, trochanter, femur, tarsus, pretarsus (e.g., With claws; With bladder-like swelling) and where they are located on the body.</p>
<p><label for="locomotive">Description of legs: </label><input type="text" name="locomotive" id="locomotive" value="{P->LOCOMOTIVE}"></p>
<p><label for="tarsomere">Select number of Tarsomere: </label><select name="tarsomere" id="tarsomere">
<option value="">Not informed</option>
<option value="One">One</option>
<option value="Two">Two</option>
<option value="Three">Three</option>
<option value="Four">Four</option>
<option value="Five">Five</option>
</select></p>
<p><label for="cerci">Select Cerci: </label><select name="cerci" id="cerci">
<option value="">Not informed</option>
<option value="Short with one segment">Short with one segment</option>
<option value="Short with two segments">Short with two segments</option>
<option value="Elongate with more than two segments">Elongate with more than two segments</option>
</select></p>
<p>Describe other specific characteristics of your specimen; any specialization of an appendage (e.g., There is) (It has) a stinger at the end of the abdomen).</p>
<p><label for="specificcharacteristics">Specific morphological characteristics: </label><input type="text" name="specificcharacteristics" id="specificcharacteristics" value="{P->SPECIFICCHARACTERISTICS}"></p>
</div>
<div id="dvmore" style="display:none">
<p>Tell how you collected your specimen</p>
<p><label for="collecting">Collecting method: </label><input type="text" name="collecting" id="collecting" value="{P->COLLECTING}"></p>
<p>Describe the environment where you found your specimen, for instance, in clear, running water; on the ground among rocks; in sandy soil; flying in a forest.</p>
<p><label for="place">Habitat (Place of collection): </label><input type="text" name="place" id="place" value="{P->PLACE}"></p>
<p>Inform the abiotic factors at the time of collection (e.g., wind, temperature, humidity, precipitation, pressure, UV index)</p>
<p><label for="win">Abiotic factors: </label><input type="text" name="win" id="win" value="{P->WIN}"></p>
<p><input type="button" id="cmdgps" onclick="javascript:getgps();" value="Get position"></p>
<p><label for="address">Localization: </label><input type="text" name="address" id="address" value="{P->ADDRESS}"></p>
<p><label for="lat">Latitude: </label><input type="text" name="lat" id="lat" value="{P->LAT}"></p>
<p><label for="lng">Longitude: </label><input type="text" name="lng" id="lng" value="{P->LNG}"></p>
<p><label for="city">City: </label><input type="text" name="city" id="city" value="{P->CITY}"></p>
<p><label for="uf">State or Province: </label><input type="text" name="uf" id="uf" value="{P->UF}" ></p>
<p><label for="country">Country: </label><input type="text" name="country" id="country" value="{P->COUNTRY}"></p>
<p><label for="datacad">Date of collection: </label><input type="text" name="datacad" id="datacad" value="{P->DATACAD}"></p>

<p><label for="temperature">Temperature: </label><input type="text" name="temperature" id="temperature" value="{P->TEMPERATURE}"></p>
</div>
<div id="dvmediation" style="display:none">
<p align="justify">Write a concise, but complete text about your specimen. Write about the ecology, the reproduction, and other important curious detail. That may distinguish your specimen or interest your audience.</p>
<center><label for="mediation">Mediation Text:</label></center>
<textarea width="500px" height="300px" id="mediation" name="mediation">{P->MEDIATION}</textarea>
</div>
<div id="dvnotes" style="display:none">
<p align="justify">Write a text that introduce your specimen. Present at its general attributes, specific concepts that will improve understanding of the audio description. Use clear, concise, concrete and specific linguage to convey the image of your specimen.</p>

<center><label for="notes">Proemial notes:</label></center>
<textarea width="500px" height="300px" id="notes" name="notes">{P->NOTES}</textarea>
<table border="0" width="100%"><tr>
<td width="33%"><input type="button" onclick="javascript:clearnotes();" value="CLEAR"></td>
<td width="33%"></td>
<td width="33%"><input type="button" onclick="javascript:getnotes();" value="Taxonomy and Collection"></td>
</tr></table>
</div>
<div id="dvaudiodesc" style="display:none">
<p align="justify">Write your audio description with realistic and imaginative. Give relevant detailed visual information about your specimen.</p>
<center><label for="audiodesc">Audio description:</label></center>
<textarea width="500px" height="300px" id="audiodesc" name="audiodesc">{P->AUDIODESC}</textarea>
<table border="0" width="100%"><tr>
<td width="33%"><input type="button" onclick="javascript:clearaudiodesc();" value="CLEAR"></td>
<td width="33%"></td>
<td width="33%"><input type="button" onclick="javascript:getaudiodesc();" value="GET ALL"></td>
</tr></table>
</div>
<div id="dvbibliography" style="display:none">
<center><label for="water">Bibliography:</label></center>
<textarea width="500px" height="300px" id="water" name="water">{P->WATER}</textarea>
</div>
<div id="dvpicture" style="display:none">
<input type="hidden" id="salvafoto" name="salvafoto" value="0">
<p><input type="checkbox" id="addfoto" name="addfoto" onclick="javascript:if (this.checked) { document.getElementById('dvchangephoto').style.display='inline'; document.getElementById('salvafoto').value='1'; } else { document.getElementById('dvchangephoto').style.display='none'; document.getElementById('salvafoto').value='0'; }"><label for="addfoto"> Change photo</label></p>
<div id="dvchangephoto" style="display:none">
<input type="file" name="grpfoto" id="grpfoto">
</div>
<img id="grfoto" src="{P->PHOTO}">
<center><label for="photodesc">Picture description:</label></center>
<textarea width="500px" height="300px" id="photodesc" name="photodesc">{P->PHOTODESC}</textarea>
<center><input type="button" id="delpic" name="delpic" value="REMOVE A PICTURE AND PICTURE DESCRIPTION" onclick="javascript:if (confirm('Do you want to remove a picture and picture description?')) { delimage(); }"></center>
</div>
<div id="dvauthor" style="display:none">
<input type="hidden" id="ground" name="ground" value="{P->GROUND}">
<p>Write the name or names of those who took part in the audio description.</p>
<p><label for="author">Describer: </label><input type="text" name="author" id="author" value="{P->AUTHOR}"></p>
<p>Write an email for contact.</p>
<p><label for="email">Email: </label><input type="text" name="email" id="email" value="{P->EMAIL}"></p>
<p>Provide your home page, Facebook page or Blog Address.</p>
<p><label for="url">Home Page: </label><input type="text" name="url" id="url" value="{P->URL}"></p>
<p>Write the name or names of those who have collaborated with you during the process of producing your script: the photographer, the intern who helped with the research etc.</p>
<center><label for="colaborative">Collaborators:</label></center>
<textarea width="500px" height="300px" id="colaborative" name="colaborative">{P->COLABORATIVE}</textarea>
<center>List of collaborators</center>
<ul>
<!-- BEGIN BLOCK_USER -->
<li><input type="checkbox" id="chk{NUMERO}" onclick="javascript:if (this.checked) { document.getElementById('ground').value +='|'+{UID}+'|'; } else { document.getElementById('ground').value = document.getElementById('ground').value.replaceAll('|'+{UID}+'|',''); }" {MARCADO}><label for="chk{NUMERO}"> {UNOME}</label></li>
<!-- END BLOCK_USER -->
</ul>
</div>
<hr>
<center><input type="button" id="remover" name="remover" value="REMOVE this arthropod" onclick="javascript:if (confirm('Do you want to remove it?')) {document.location.href='snapsect_ger.php?id={P->ID}&act=remover'; }"></center>
</form>
<div class="foother">
{RODAPE}
</div>

</body>
</html>
