<!DOCTYPE html>
                                 <html lang="en-US">
    <head>
<meta charset="UTF-8">
    <title>SnapSect - New User</title>
  </head>
  <body onload="javascript:document.getElementById('nome').focus();">
<div id="menu">
<table border="0" width="100%"><tr>
<td width="20%"><input type="button" onclick="javascript:window.location='snapsect_ger.php';" value="SEARCH ARTHROPOD"></td>
<td width="60%"><center>SNAPSECT - NEW USER</center></td>
<td width="20%"></td>
</tr></table>
</div>
<form name="frm" method="POST">
<p><label for="nome">Your name: </label><input type="text" name="nome" id="nome" value=""></p>
<p><label for="email">Your e-mail: </label><input type="email" name="email" id="email" value=""></p>
<p><label for="pws">Your password: </label><input type="password" name="pws" id="pws" value=""></p>
<p><label for="pws2">Confirm your password: </label><input type="password" name="pws2" id="pws2" value=""></p>
<p><label for="url">Your site address (URL): </label><input type="text" name="url" id="url" value=""></p>
<center><input type="submit" name="cmdadduser" id="cmdadduser" value="Create"></center>
</form>
<div class="foother">
{RODAPE}
</div>

</body>
</html>