<!DOCTYPE html>
                                 <html lang="en-US">
    <head>
<meta charset="UTF-8">
    <title>SnapSects</title>
  </head>
  <body>
<div id="menu">
<table border="0" width="100%"><tr>
<td width="20%"><input type="button" onclick="javascript:window.location='snapsect_ger.php';" value="BACK"></td>
<td width="60%"><center>SNAPSECTS - ADM</center></td>
<td width="20%"></td>
</tr></table>
</div>
<form name="frmt" id="frmt" method="post">
<input type="hidden" name="act" id="act" value="1">
<center><label for="t0">Arthropoda:</label></center>
<textarea width="500px" height="300px" id="t0" name="t0">{T0}</textarea>
<center><label for="t1">Arachinida:</label></center>
<textarea width="500px" height="300px" id="t1" name="t1">{T1}</textarea>
<center><label for="t2">Chilopoda:</label></center>
<textarea width="500px" height="300px" id="t2" name="t2">{T2}</textarea>
<center><label for="t3">Diplopoda:</label></center>
<textarea width="500px" height="300px" id="t3" name="t3">{T3}</textarea>
<center><label for="t4">Insecta:</label></center>
<textarea width="500px" height="300px" id="t4" name="t4">{T4}</textarea>
<center><label for="t5">Malacostraca:</label></center>
<textarea width="500px" height="300px" id="t5" name="t5">{T5}</textarea>
<center><input type="submit" id="save" value="Save"></center>
</form>

{TEXTO}
<div class="foother">
{RODAPE}
</div>

</body>
</html>