<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="stylesheet" href="DIR_LAYOUT/css/main.css"> -->
    <link rel="stylesheet" href="DIR_LAYOUT/css/main.css">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="DIR_LAYOUT/img/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="DIR_LAYOUT/img/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="DIR_LAYOUT/img/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="DIR_LAYOUT/img/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="DIR_LAYOUT/img/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
        href="DIR_LAYOUT/img/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="DIR_LAYOUT/img/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
        href="DIR_LAYOUT/img/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="xT/img/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="DIR_LAYOUT/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="DIR_LAYOUT/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="DIR_LAYOUT/img/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="DIR_LAYOUT/img/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="SnapSects" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="DIR_LAYOUT/img/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="DIR_LAYOUT/img/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="DIR_LAYOUT/img/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="DIR_LAYOUT/img/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="DIR_LAYOUT/img/favicon/mstile-310x310.png" />
    <title>TEMPLATE_TITLE</title>
    <script>
        var URL_SITE = 'SITE_URL';
    </script>
</head>

<body class="body-">
    <header class="site-header">
        <div class="container">
            <a class="site-logo" href="SITE_URL">
                <img src="DIR_LAYOUT/img/logo/site-logo.svg"
                    alt="Áudio-descrição do logotipo do SnapSects: em um triângulo cinza, com borda amarela, há uma figura estilizada de um artrópode, cuja cabeça é formada por um semicírculo branco, com dois pequenos círculos cinza, os quais representam olhos compostos. O tórax da figura é formado por uma gota branca, de cujos lados partem, um de cada lado, semicírculos vermelhos, representando um par de asas, que se estendem em direção ao abdômen, e dão à figura a aparência de uma joaninha. O abdômen é formado por um círculo branco, em cuja porção final há um pequeno triângulo sombreado, o qual lembra um ferrão, como em uma abelha.  Margeando a parte esquerda do tórax e a parte direita do abdômen, uma linha preta forma a letra S. Abaixo da figura do artrópode, um pequeno retângulo amarelo dá ao triângulo o formato de um A maiúsculo. Sob o triângulo:  SnapSects. O primeiro e segundo S de SnapSects são maiúsculos. ">
                <h1 class="">
                    SnapSects
                </h1>
            </a>

            <div class="site-lang">

                <select id="language" onchange="javascript:window.location='index.php?lang='+this.value;">
                    <option selected disabled>Selecione o idioma</option>
                    <option value="it-it">Italiano</option>
                    <option value="fr-fr">Francês</option>
                    <option value="en-us">English</option>
                    <option value="es-es">Spanish</option>
                    <option value="pt-br">Português</option>
                </select>
            </div>
        </div>
    </header>
    
    <!-- BEGIN BLOCK_DESLOGADO -->
    <nav class="site-menu">
        <div class="container">
            <button type="button" title="Menu principal" class="navbar-toggler" data-toggle="collapse"
                data-target="#site-menu" aria-controls="site-menu" aria-expanded="false"
                aria-label="Exibir/Ocultar Menu principal">
                <i class="fas fa-bars"></i> <span>Menu</span>
            </button>

            <div class="collapse" id="site-menu">
                <div class="site-lang">
                    <select id="language" onchange="javascript:window.location='index.php?lang='+this.value;">
                        <option selected disabled>Selecione o idioma</option>
                        <option value="it-it">Italiano</option>
                        <option value="fr-fr">Francês</option>
                        <option value="en-us">English</option>
                        <option value="es-es">Spanish</option>
                        <option value="pt-br">Português</option>
                    </select>
                </div>
                <ul>
                    <li class="active "><a href="SITE_URL">[dic189]</a></li>
                    <li class=""><a href="login.php">[dic272]</a></li>
                    <li class=""><a href="SITE_URLshowabout.php?id=240">[dic240]</a></li>
                    <li class=""><a href="SITE_URLshowabout.php?id=241">[dic241]</a></li>
                    <li class=""><a href="SITE_URLshowabout.php?id=242">[dic242]</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END BLOCK_DESLOGADO -->
    
    <!-- BEGIN BLOCK_LOGADO -->
    <nav class="site-menu">
        <div class="container">
            <button type="button" title="Menu principal" class="navbar-toggler" data-toggle="collapse"
                data-target="#site-menu" aria-controls="site-menu" aria-expanded="false"
                aria-label="Exibir/Ocultar Menu principal">
                <i class="fas fa-bars"></i> <span>Menu</span>
            </button>

            <div class="collapse" id="site-menu">
                <div class="site-lang">
                    <select id="language" onchange="javascript:window.location='index.php?lang='+this.value;">
                        <option selected disabled>Selecione o idioma</option>
                        <option value="it-it">Italiano</option>
                        <option value="fr-fr">Francês</option>
                        <option value="en-us">English</option>
                        <option value="es-es">Spanish</option>
                        <option value="pt-br">Português</option>
                    </select>
                </div>
                <ul>
                    <li class="active "><a href="SITE_URL">[dic189]</a></li>
                    <li class=""><a href="login.php">[dic273]</a></li>  
                    <li class=""><a id="cmdsnapsect" href="snapsect_ger.php">[dic7]</a></li>
                    <li class=""><a href="SITE_URLshowabout.php?id=240">[dic240]</a></li>
                    <li class=""><a href="SITE_URLshowabout.php?id=241">[dic241]</a></li>
                    <li class=""><a href="SITE_URLshowabout.php?id=242">[dic242]</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- BEGIN BLOCK_MENU_ARTROPOD_JS -->
    <nav class="new-insect">
        <div class="container">
            <button type="button" title="Adicionar artropode" data-toggle="collapse" data-target="#new-insect" aria-controls="new-insect"
                aria-expanded="false" aria-label="Exibir/Ocultar Menu para adicionar artropode">
                <i class="fas fa-spider"></i> <span>Adicionar novo inseto</span>
            </button>
            <div class="collapse" id="new-insect">

                <ul>
                    <li class=""><a id="cmdprincipal" onclick="javascript:changetela('dvprincipal');" style="cursor: pointer;">[dic1]</a></li>
                    <li class=""><a id="cmdauthor" onclick="javascript:changetela('dvauthor');" style="cursor: pointer;">[dic81]</a></li>
                    <li class=""><a id="cmddescriptions" onclick="javascript:changetela('dvdescriptions');"  style="cursor: pointer;">[dic2]</a></li>
                    <li class=""><a id="cmdmore" onclick="javascript:changetela('dvmore');" style="cursor: pointer;">[dic3]</a></li>
                    <li class=""><a id="cmdnotes" onclick="javascript:changetela('dvnotes');" style="cursor: pointer;">[dic5]</a></li>
                    <li class=""><a id="cmdaudiodesc" onclick="javascript:changetela('dvaudiodesc');" style="cursor: pointer;">[dic6]</a></li>
                    <li class=""><a id="cmdmediation" onclick="javascript:changetela('dvmediation');"  style="cursor: pointer;">[dic168]</a></li>
                    <li class=""><a id="cmdbibliography" onclick="javascript:changetela('dvbibliography');" style="cursor: pointer;">[dic177]</a></li>
                    <li class=""><a id="cmdpicture" onclick="javascript:changetela('dvpicture');" style="cursor: pointer;">[dic83]</a></li>
                </ul>


            </div>
            <hr>
        </div>
    </nav>
    <!-- END BLOCK_MENU_ARTROPOD_JS -->
    
    <!-- BEGIN BLOCK_MENU_ARTROPOD -->
    <nav class="new-insect">
        <div class="container">
            <button type="button" title="Adicionar artropode" data-toggle="collapse" data-target="#new-insect"
                aria-controls="new-insect" aria-expanded="false"
                aria-label="Exibir/Ocultar Menu para adicionar artropode">
                <i class="fas fa-spider"></i> <span>Adicionar novo inseto</span>
            </button>
            <div class="collapse" id="new-insect">

                <ul>
                    <li class=""><a id="cmdprincipal" href="add_snapsect.php?pag=dvprincipal">[dic1]</a></li>
                    <li class=""><a id="cmddescriptions" href="add_snapsect.php?pag=dvdescriptions">[dic2]</a></li>
                    <li class=""><a id="cmdmore" href="add_snapsect.php?pag=dvmore">[dic3]</a></li>
                    <li class=""><a id="cmdnotes" href="add_snapsect.php?pag=dvnotes">[dic5]</a></li>
                    <li class=""><a id="cmdaudiodesc" href="add_snapsect.php?pag=dvaudiodesc">[dic6]</a></li>
                    <li class=""><a id="cmdmediation" href="add_snapsect.php?pag=dvmediation">[dic4]</a></li>
                </ul>


            </div>
        </div>
    </nav>
    <!-- END BLOCK_MENU_ARTROPOD -->
    
    <!-- END BLOCK_LOGADO -->
    <!-- BEGIN BLOCK_ADM -->
    <nav class="site-menu">
        <div class="container">
            <button type="button" title="Menu principal" class="navbar-toggler" data-toggle="collapse"
                data-target="#site-menu" aria-controls="site-menu" aria-expanded="false"
                aria-label="Exibir/Ocultar Menu principal">
                <i class="fas fa-bars"></i> <span>Menu</span>
            </button>

            <div class="collapse" id="site-menu">
                <div class="site-lang">
                    <select id="language" onchange="javascript:window.location='index.php?lang='+this.value;">
                        <option selected disabled>Selecione o idioma</option>
                        <option value="it-it">Italiano</option>
                        <option value="fr-fr">Francês</option>
                        <option value="en-us">English</option>
                        <option value="es-es">Spanish</option>
                        <option value="pt-br">Português</option>
                    </select>
                </div>
                <ul>
                    <li class="active "><a href="SITE_URL">[dic189]</a></li>
                    <!--<li class=""><a id="cmdadm" href="index_adm.php">[dic318]</a></li>-->
                    <li class=""><a id="cmdprincipal" href="login.php">[dic273]</a></li>
                    <li class=""><a id="cmdsnapsect" href="snapsect_ger.php">[dic7]</a></li>
                    <li class=""><a id="cmdsnapsect" href="add_snapsect.php?id=-1">[dic271]</a></li>
                    <!-- SOBRE || add_snapsect.php?pag=dvdescriptions -->
                    <li class=""><a href="SITE_URLshowabout.php?id=240">[dic240]</a></li>
                    <li class=""><a href="SITE_URLshowabout.php?id=241">[dic241]</a></li>
                    <li class=""><a href="SITE_URLshowabout.php?id=242">[dic242]</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- BEGIN BLOCK_MENU_ARTROPOD_ADM_JS -->
    <nav class="new-insect">
        <div class="container">
            <button type="button" title="Adicionar artropode" data-toggle="collapse" data-target="#new-insect" aria-controls="new-insect"
                aria-expanded="false" aria-label="Exibir/Ocultar Menu para adicionar artropode">
                <i class="fas fa-spider"></i> <span>Adicionar novo inseto</span>
            </button>
            <div class="collapse" id="new-insect">

                <ul>
                    <li class=""><a id="cmdprincipal" onclick="javascript:changetela('dvprincipal');" style="cursor: pointer;">[dic1]</a></li>
                    <li class=""><a id="cmdauthor" onclick="javascript:changetela('dvauthor');" style="cursor: pointer;">[dic81]</a></li>
                    <li class=""><a id="cmddescriptions" onclick="javascript:changetela('dvdescriptions');"  style="cursor: pointer;">[dic2]</a></li>
                    <li class=""><a id="cmdmore" onclick="javascript:changetela('dvmore');" style="cursor: pointer;">[dic3]</a></li>
                    <li class=""><a id="cmdnotes" onclick="javascript:changetela('dvnotes');" style="cursor: pointer;">[dic5]</a></li>
                    <li class=""><a id="cmdaudiodesc" onclick="javascript:changetela('dvaudiodesc');" style="cursor: pointer;">[dic6]</a></li>
                    <li class=""><a id="cmdmediation" onclick="javascript:changetela('dvmediation');"  style="cursor: pointer;">[dic168]</a></li>
                    <li class=""><a id="cmdbibliography" onclick="javascript:changetela('dvbibliography');" style="cursor: pointer;">[dic177]</a></li>
                    <li class=""><a id="cmdpicture" onclick="javascript:changetela('dvpicture');" style="cursor: pointer;">[dic83]</a></li>
                </ul>


            </div>
            <hr>
        </div>
    </nav>
    <!-- END BLOCK_MENU_ARTROPOD_ADM_JS -->
    
    <!-- BEGIN BLOCK_MENU_ARTROPOD_ADM -->
    <nav class="new-insect">
        <div class="container">
            <button type="button" title="Adicionar artropode" data-toggle="collapse" data-target="#new-insect"
                aria-controls="new-insect" aria-expanded="false"
                aria-label="Exibir/Ocultar Menu para adicionar artropode">
                <i class="fas fa-spider"></i> <span>Adicionar novo inseto</span>
            </button>
            <div class="collapse" id="new-insect">

                <ul>
                    <li class=""><a id="cmdprincipal" href="add_snapsect.php?pag=dvprincipal">[dic1]</a></li>
                    <li class=""><a id="cmddescriptions" href="add_snapsect.php?pag=dvdescriptions">[dic2]</a></li>
                    <li class=""><a id="cmdmore" href="add_snapsect.php?pag=dvmore">[dic3]</a></li>
                    <li class=""><a id="cmdnotes" href="add_snapsect.php?pag=dvnotes">[dic5]</a></li>
                    <li class=""><a id="cmdaudiodesc" href="add_snapsect.php?pag=dvaudiodesc">[dic6]</a></li>
                    <li class=""><a id="cmdmediation" href="add_snapsect.php?pag=dvmediation">[dic4]</a></li>
                </ul>


            </div>
        </div>
    </nav>
    <!-- END BLOCK_MENU_ARTROPOD_ADM -->
    
    <nav class="adm-school">
        <div class="container">
            <ul>
                <li class=""><a href="SITE_URLschool.php">Escola</a></li>
                <li class=""><a href="SITE_URLsnapsect_user_ger.php">[dic274]</a></li>
                <li class=""><a href="SITE_URLadd_imagem.php">Administrar imagens</a></li>
                <li class=""><a href="SITE_URLadd_about.php">[dic322]</a></li>
            </ul>


        </div>
    </nav>
    <!-- END BLOCK_ADM -->
    

    TEMPLATE_CONTENT

    <footer class="site-footer" id="site-footer" style="margin-top: 681.6px;">
        <a href="SITE_URLshowabout.php?id=338">
            [dic73] </a>
    </footer>

    <script src="DIR_LAYOUT/js/fontawesome-v5.7.2.js"></script>
    <script src="DIR_LAYOUT/js/jquery-3.3.1.slim.min.js"></script>
    <script src="DIR_LAYOUT/js/popper.min.js"></script>
    <script src="DIR_LAYOUT/js/bootstrap.min.js"></script>
    <script src="DIR_LAYOUT/js/scripts.js"></script>
</body>

</html>