<!doctype html>
<html lang="pt-BR">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="DIR_LAYOUT/css/main.css">

        <title>TEMPLATE_TITLE</title>
        <script>
            var URL_SITE = 'SITE_URL';
        </script>
    </head>

    <body>
        <div class="login">
            TEMPLATE_CONTENT
        </div>
        <footer class="site-footer" id="site-footer">
           <a href="/copyright.html">
               
           </a>
            {RODAPE}
        </footer>
    </body>

</html>
