<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="stylesheet" href="DIR_LAYOUT/css/main.css"> -->
    <link rel="stylesheet" href="DIR_LAYOUT/css/main.css">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="DIR_LAYOUT/img/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="DIR_LAYOUT/img/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="DIR_LAYOUT/img/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="DIR_LAYOUT/img/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="DIR_LAYOUT/img/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
        href="DIR_LAYOUT/img/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="DIR_LAYOUT/img/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
        href="DIR_LAYOUT/img/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="xT/img/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="DIR_LAYOUT/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="DIR_LAYOUT/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="DIR_LAYOUT/img/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="DIR_LAYOUT/img/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="SnapSects" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="DIR_LAYOUT/img/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="DIR_LAYOUT/img/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="DIR_LAYOUT/img/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="DIR_LAYOUT/img/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="DIR_LAYOUT/img/favicon/mstile-310x310.png" />
    <title>SnapSects</title>
    <script>
        var URL_SITE = 'SITE_URL';
    </script>
</head>

<body class="body-">
    <header class="site-header">
        <div class="container">
            <a class="site-logo" href="SITE_URL">
                <img src="DIR_LAYOUT/img/logo/site-logo.svg"
                    alt="[dic0]">
                <h1 class="">
                    SnapSects
                </h1>
            </a>
        </div>
    </header>
        
    TEMPLATE_CONTENT

    <footer class="site-footer" id="site-footer" style="margin-top: 681.6px;">
            [dic73]
    </footer>

    <script src="DIR_LAYOUT/js/fontawesome-v5.7.2.js"></script>
    <script src="DIR_LAYOUT/js/jquery-3.3.1.slim.min.js"></script>
    <script src="DIR_LAYOUT/js/popper.min.js"></script>
    <script src="DIR_LAYOUT/js/bootstrap.min.js"></script>
    <script src="DIR_LAYOUT/js/scripts.js"></script>
</body>

</html>