<div id="menu">
<table border="0" width="100%"><tr>
<td width="33%"><input type="button" onclick="javascript:save();window.location='school.php?email={EMAIL}';" value="[dic78]"></td>
<td width="33%"><br>
<td width="33%"></td>
</tr></table>
</div>
<main>
    <article id="dv0">
        <div class="hgroup">
            <h2 id="new-activity">[dic576]</h2>
            <h3>[dic577]: {SALA}</h3>
        </div>
        <div class="content page-new-activity">
            <section class="section-form">
                <div class="form-group">
                    <label for="lsttitle">[dic578] </label>
                    <div class="input-container">
                        <input type="text" id="lsttitle" value="" onchange="javascript:licao.titulo = this.value;"
                            aria-describedby="atividade-titulo-help" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="txttexto">[dic387]</label>
                    <div class="input-container">
                        <textarea id="txttexto" aria-describedby="atividade-apresentacao-help"
                            onchange="javascript:licao.texto = this.value;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="datai" id="lbldatai">[dic354]</label>
                    <div class="input-container">
                        <input type="date" id="datai" aria-describedby="atividade-data-publicacao-help"
                            onchange="javascript:licao.datai = this.value;var x = this.value.split('-');document.getElementById('lbldatai').innerHTML = '[dic354] (' + x[2] + '/' + x[1] + '/' + x[0] + '): ';">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dataf" id="lbldataf">[dic355]</label>
                    <div class="input-container">
                        <input type="date" aria-describedby="atividade-data-termino-help" id="dataf"
                            onchange="javascript:licao.dataf = this.value;var x = this.value.split('-');document.getElementById('lbldataf').innerHTML = '[dic356] (' + x[2] + '/' + x[1] + '/' + x[0] + '): ';" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="datag" id="lbldatag">[dic356] </label>
                    <div class="input-container">
                        <input type="date" id="datag"
                            onchange="javascript:licao.datag = this.value;var x = this.value.split('-');document.getElementById('lbldatag').innerHTML = '[dic356] (' + x[2] + '/' + x[1] + '/' + x[0] + '): ';" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="maxval">Valor da nota [dic357]: </label>
                    <div class="input-container">
                        <input type="number" id="maxval" value="" onchange="javascript:licao.nota = this.value;" />
                    </div>
                </div>

                <div class="buttons">
                    <button class="paginador pagina-anterior"
                        onclick="javascript:save();window.location = 'school.php?email={EMAIL}';return false;"><i
                            class="fas fa-arrow-left"></i>[dic579]</button>
                    <button class="paginador pagina-proxima" id="btnnext"
                        onclick="javascript:showquest(1);return false;">[dic332]<i
                            class="fas fa-arrow-right"></i></button>
                </div>
            </section>
        </div>
    </article>
    <article id="dv1" style="display: none">
        <div class="hgroup">
            <h2 id="dvquesttitle2"></h2>
            <h3 id="dvquesttitle"></h3>
        </div>
        <div id="dvquest"></div>
        <div class="content page-new-activity-part">
            <section class="section-form">
                <div class="form-group">
                    <label for="txtvl">[dic388]</label>
                    <div class="input-container">
                        <input type="number" id="txtvl" value="0"
                            onchange="javascript:licao.quest[page - 1].valor = this.value;" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="lsttexto">[dic358]</label>
                    <div class="input-container">
                        <textarea placeholder="[dic580]" id="lsttexto"
                            onchange="javascript:licao.quest[page - 1].texto = this.value;document.getElementById('cmdproxima').style.display = (licao.quest[page - 1].texto.length + licao.quest[page - 1].enunciado.length < 1) ? 'none' : 'block';"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lstquest">[dic359]</label>
                    <div class="input-container">
                        <textarea placeholder="[dic581]" id="lstquest"
                            onchange="javascript:licao.quest[page - 1].enunciado = this.value;document.getElementById('cmdproxima').style.display = (this.value.length < 1) ? 'none' : 'block';"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lsttipo">[dic360]: </label>
                    <div class="input-container">
                        <select id="lsttipo" onchange="javascript:settipo(this.value);">
                            <option value="0">[dic361]</option>
                            <option value="1">[dic362]</option>
                            <option value="2">[dic363]</option>
                            <option value="3">[dic364]</option>
                        </select>
                    </div>
                </div>
                <div id="dvresultado">

                </div>
            </section>
        </div>



        <div class="buttons">
            <button class="paginador pagina-anterior" id="cmdprior"
                onclick="javascript:showquest(page - 1);return false;"><i
                    class="fas fa-arrow-left"></i>[dic333]</button>
            <button type="submit" name="saveandview" id="cmdsalvar"
                onclick="javascript:save(); window.location = 'school.php?email={EMAIL}';return false;"><i
                    class="far fa-save"></i> [dic80]</button>
            <button class="paginador pagina-proxima" id="cmdproxima"
                onclick="javascript:showquest(page + 1);return false;">[dic332]<i
                    class="fas fa-arrow-right"></i></button>
        </div>

    </article>
</main>

<script type="text/javascript" src="js/spajax.js"></script>
<script type="text/javascript">
var licao = { 
titulo: '',
texto: '',
foto: '',
datai: new Date(),
dataf: new Date(),
datag: new Date(),
nota: 10,
quest: []
}
var page = 0;
var id = '{ID}';
var email = '{EMAIL}';

function inicio() {
if (id == '0') {
showquest(0);
} else {
spjson(dic_path+'api_school.php','act=getquest&email={EMAIL}&sala={SALA}&id='+id,'POST', function(res) {
if (res.status == 'ok') {
licao = res.licao;
// alert(JSON.stringify(res));
showquest(0);
} // está tudo ok...
});
} // já existe então abre...
    } // da funcao

function settipo(v) {
licao.quest[page-1].tipo = v;
showresultado(licao.quest[page-1]);
// var texto = '';
// if (v == 0) {

// } // do tipo texto
// if ((v == 1) || (v == 2)) { addopcoes(licao.quest[page-1]); }
// if (v == 3) { addopcoes2(licao.quest[page-1]); }
// document.getElementById('dvresultado').innerHTML = texto;
} // da funcao...

function addopcoes(px) {
var input1 = prompt('[dic367]','');
if (input1.length > 0) {
if (!px.opcoes) { px.opcoes = []; }
px.opcoes.push({ title: input1, value: '0'}); 
addopcoes(px);
} else {
licao.quest[page-1]=px;
}
licao.quest[page-1]=px;

showresultado(px);

} // da funcao...

function addopcoes2(px) {
navigator.notification.prompt(dic[367], function(r) {
if (r.buttonIndex == 1) {
if (!px.opcoes2) { px.opcoes2 = []; }
if (r.input1.length > 0) { px.opcoes2.push(r.input1); }
addopcoes2(px);
}
if (r.buttonIndex == 2) {
if (!px.opcoes2) { px.opcoes2 = []; }
if (r.input1.length > 0) { px.opcoes2.push(r.input1); }
licao.quest[page-1]=px;
addopcoes(px);
}
licao.quest[page-1]=px;

showresultado(px);
}, 'SnapSects Academic', ['Salvar','Feito','Limpar'], '');

} // da funcao...

function showquest(x) {
page = x;
document.getElementById('dv0').style.display='none';
document.getElementById('dv1').style.display='none';
save();
if (x == 0) {
document.getElementById('dv0').style.display='inline';
document.getElementById('lsttitle').value = licao.titulo;
document.getElementById('txttexto').value = licao.texto;
document.getElementById('datai').value = licao.datai;
document.getElementById('dataf').value = licao.dataf;
document.getElementById('datag').value = licao.datag;
document.getElementById('maxval').value = licao.nota;
} else {
document.getElementById('dv1').style.display='inline';
document.getElementById('dvquesttitle2').innerHTML='<center><h2>'+document.getElementById('lsttitle').value+'</h2></center>';

if (x <= licao.quest.length) {

} // menor, mostra...
else {
var e = {
texto: '',
enunciado: '',
foto: '',
valor: 0,
tipo: 0,
resultado: '',
opcoes: [],
opcoes2: []
}
licao.quest.push(e);
} // adiciona um novo...
document.getElementById('dvquesttitle').innerHTML='<center><h2>[dic366] '+x+'/'+licao.quest.length+'</h2></center>';
var n = x-1;
document.getElementById('lsttexto').value=licao.quest[n].texto;
document.getElementById('txtvl').value=licao.quest[n].valor;
document.getElementById('lstquest').value=licao.quest[n].enunciado;
document.getElementById('lsttipo').value=licao.quest[n].tipo;
showresultado(licao.quest[n]);
document.getElementById('cmdproxima').style.display=((licao.quest[n].texto.length+licao.quest[n].enunciado.length) < 1)?'none':'inline';

} // maior que zero...
} // da funcao...

function showresultado(p) {
var t = '';
var className = 'form-group-table';
if (p.tipo == 0) {
className = 'form-group';
t = '<label for="atividade-dissertativa-resposta">[dic539]</label><div class="input-container"><textarea placeholder="[dic582]" onchange="javascript:licao.quest[page-1].resultado=this.value;">' +
p.resultado + '</textarea></div>';
// t='<center><textarea rows="5" cols="50" width="100%" onchange="javascript:licao.quest[page-1].resultado=this.value;">'+p.resultado+'</textarea></center>';
} // do tipo 0
if (p.tipo == 1) {
            t += '<label for="atividade-multiplas-escolhas">';
            t += '<span>[dic362]</span>';
            t += '<button id="atividade-multiplas-escolhas" onclick="javascript:licao.quest[page-1].opcoes.push({ title: ' +
                "'', value: '0'" + '}); showresultado(licao.quest[page-1]); return false;" >[dic583]</button>';
            t += '</label><div class="input-container input-container-table">';
            t += '<table><thead><th scope="col" colspan="3" class="text-left">[dic359]</th></thead>';
            t += '<tbody>';
            for (var r = 0; r < p.opcoes.length; r++) {
                var tp = ''; // (licao.quest[page-1].opcoes[r].value == '1')?' checked':'';
var tpp = 'desmarcado';
                if (licao.quest[page - 1].opcoes[r].value == '1') {
                    tp = ' checked';
tpp = 'marcado';
                }
                // verificar se o item está checado...
                t += '<tr>';
                t += '<td width="80%"><input type="text" id="txt' + r + '" value="' + p.opcoes[r].title +
                    '" onchange="javascript:licao.quest[page-1].opcoes[' + r + '].title=this.value;"></td>';
                t += '<td width="10%" class="certa-ou-errada">';
                t += '<input type="checkbox" id="chk' + r +
                    '" value="1" onclick="javascript:if (this.checked) {licao.quest[page-1].opcoes[' + r + '].value=' +
                    "'1'" + '; } else {licao.quest[page-1].opcoes[' + r + '].value=' + "'0'" + '; }"' + tp + '> ';
//                t += '<label for="chk' + r + '">';
//                t += '<i class="fas  fa-check-circle" title="[dic584]"></i>'
//                t += '<i class="far fa-circle" title="[dic585]"></i>'
//                t += '</label>';
                t += '</td>';
                t += '<td width="10%"><button onclick="javascript:licao.quest[page-1].opcoes.splice(' + r +
                    ',1); showresultado(licao.quest[page-1]); return false;" title="[dic586]"><i class="fas fa-trash"></i></button></td>'
                t += '</tr>'
            } // do for...
            t += '</tbody></table></div>';

// for (var r=0;r<p.opcoes.length;r++) {
// var tp = ''; // (licao.quest[page-1].opcoes[r].value == '1')?' checked':'';
// if (licao.quest[page-1].opcoes[r].value == '1') {tp=' checked'; }
// verificar se o item está checado...

// t+='<p><input type="checkbox" id="chk'+r+'" value="1" onclick="javascript:if (this.checked) {licao.quest[page-1].opcoes['+r+'].value='+"'1'"+'; } else {licao.quest[page-1].opcoes['+r+'].value='+"'0'"+'; }"'+tp+'>) <input type="text" id="txt'+r+'" value="'+p.opcoes[r].title+'" onchange="javascript:licao.quest[page-1].opcoes['+r+'].title=this.value;">';
// t+='<input type="button" onclick="javascript:licao.quest[page-1].opcoes.splice('+r+',1); showresultado(licao.quest[page-1]);" value="-"></p>';
// } // do for...
// t+='<center><input type="button" onclick="javascript:licao.quest[page-1].opcoes.push({ title: '+"'', value: '0'"+'}); showresultado(licao.quest[page-1]);" value="+"></center>';
} // do tipo 1
if (p.tipo == 2) {
            t += '<label for="atividade-multiplas-escolhas">';
            t += '<span>[dic363]</span>';
            t += '<button id="atividade-multiplas-escolhas" onclick="javascript:licao.quest[page-1].opcoes.push({ title: ' +
                "'', value: '0'" + '}); showresultado(licao.quest[page-1]); return false;" >[dic583]</button>';
            t += '</label><div class="input-container input-container-table">';
            t += '<table><tr>';
            t += '<th scope="col" class="text-left">[dic359]</th>';
            t += '<th scope="col" width="10%" title="[dic371]">[dic587]</th>';
            t += '<th scope="col" width="10%" title="[dic372]">[dic588]</th>';
            t += '<th width="10%" title="[dic589]">[dic589]</th></tr>';
            for (var r = 0; r < p.opcoes.length; r++) {
                var tp = '';
                var tpf = '';
                if (licao.quest[page - 1].opcoes[r].value == 'v') {
                    tp = ' checked';
                } else {
                    if (licao.quest[page - 1].opcoes[r].value == 'f') {
                        tpf = ' checked';
                    }
                }
                // verificar se o item está checado...
                t += '<tr><td><input type="text" id="txt' + r + '" value="' + p.opcoes[r].title +
                    '" onchange="javascript:licao.quest[page-1].opcoes[' + r + '].title=this.value;"></td>';
                t += '<td><input type="checkbox" id="chk' + r +
                    '" value="1" onclick="javascript:if (this.checked) {licao.quest[page-1].opcoes[' + r + '].value=' +
                    "'v'" + '; } else {licao.quest[page-1].opcoes[' + r + '].value=' + "'f'" +
                    '; } showresultado(licao.quest[page-1]);"' + tp + '></td>';

                t += '<td><input type="checkbox" id="chk' + r +
                    '" value="1" onclick="javascript:if (this.checked) {licao.quest[page-1].opcoes[' + r + '].value=' +
                    "'f'" + '; } else {licao.quest[page-1].opcoes[' + r + '].value=' + "'v'" +
                    '; } showresultado(licao.quest[page-1]);"' + tpf + '>';
                t += '</td>';
                t += '<td><button onclick="javascript:licao.quest[page-1].opcoes.splice(' + r +
                    ',1); showresultado(licao.quest[page-1]); return false;" title="[dic586]"><i class="fas fa-trash"></i></button></td></tr>';
            } // do for...
            t += '</table></div>';


// t+='<table border="0"><tr>';
// t+='<th width="70%"></th>';
// t+='<th width="10%">Verdadeiro</th>';
// t+='<th width="10%">Falso</th>';
// t+='<th width="10%">Remover</th></tr>';
// for (var r=0;r<p.opcoes.length;r++) {
// var tp = '';
// var tpf = '';
// if (licao.quest[page-1].opcoes[r].value == 'v') { tp = ' checked'; 
// } else {
// if (licao.quest[page-1].opcoes[r].value == 'f') { tpf = ' checked'; }
// }
// verificar se o item está checado...
// t+='<tr><td><input type="text" id="txt'+r+'" value="'+p.opcoes[r].title+'" onchange="javascript:licao.quest[page-1].opcoes['+r+'].title=this.value;"></td>';
// t+='<td><input type="checkbox" id="chk'+r+'" value="1" onclick="javascript:if (this.checked) {licao.quest[page-1].opcoes['+r+'].value='+"'v'"+'; } else {licao.quest[page-1].opcoes['+r+'].value='+"'f'"+'; } showresultado(licao.quest[page-1]);"'+tp+'></tp>';
// t+='<td><input type="checkbox" id="chk'+r+'" value="1" onclick="javascript:if (this.checked) {licao.quest[page-1].opcoes['+r+'].value='+"'f'"+'; } else {licao.quest[page-1].opcoes['+r+'].value='+"'v'"+'; } showresultado(licao.quest[page-1]);"'+tpf+'></td>';
// t+='<td><input type="button" onclick="javascript:licao.quest[page-1].opcoes.splice('+r+',1); showresultado(licao.quest[page-1]);" value="-"></td></tr>';
// } // do for...
// t+='</table>';
// t+='<center><input type="button" onclick="javascript:licao.quest[page-1].opcoes.push({ title: '+"'', value: '0'"+'}); showresultado(licao.quest[page-1]);" value="+"></center>';
} // do tipo 2

if (p.tipo == 3) {

            var th = '';
            t += '<label for="atividade-multiplas-escolhas">';
            t += '<span>[dic364]</span>';
            t += '</label>';
            t += '<div class="input-container input-container-table">';
            t += '<table>';
            t += '<caption>';
            t += '<span>[dic413]</span>';
            t += '<button onclick="javascript:licao.quest[page-1].opcoes2.push(' + "' '" +
                '); showresultado(licao.quest[page-1]); return false;">[dic590]</button>';
            t += '</caption>';
            t += '<thead>';
            t += '<th scope="col" colspan="3" class="text-left">[dic359]</th>';
            t += '</thead><tbody>';
            for (var r = 0; r < p.opcoes2.length; r++) {
                t += '<tr>';
                t += '    <td width="10%">' + (r + 1) + '</td>';
                t += '    <td><input type="text" id="txt' + r + '" value="' + p.opcoes2[r] +
                    '" onchange="javascript:licao.quest[page-1].opcoes2[' + r + ']=this.value;"></td>';
                t += '    <td width="10%"><button onclick="javascript:licao.quest[page-1].opcoes2.splice(' + r +
                    ',1); showresultado(licao.quest[page-1]); return false;" title="[dic586]"><i class="fas fa-trash"></i></button></td>';
                t += '</tr>';
            } // do for...
            t += '</tbody></table>';
            t += '<table>';
            t += '<caption>';
            t += '<span>[dic414]</span>';
            t += '<button onclick="javascript:licao.quest[page-1].opcoes.push({ title: ' + "'', value: '0'" +
                '}); showresultado(licao.quest[page-1]); return false;" >[dic591]</button>';
            t += '</caption>';
            t += '<thead>';
            t += '<th scope="col" class="text-left">[dic359]</th>';
            t += '<td colspan="2" class="text-left" width="40%">[dic592]</td>';
            t += '</thead>';
            for (var r = 0; r < p.opcoes.length; r++) {
                t += '<tr>';
                t += '<td>';
                t += '<input type="text" id="txtv' + r + '" value="' + p.opcoes[r].title +
                    '" onchange="javascript:licao.quest[page-1].opcoes[' + r + '].title=this.value;">';
                t += '</td>';
                t += '<td>';
                t += '<select id="lst' + r + '" onchange="javascript:licao.quest[page-1].opcoes[' + r +
                    '].value=this.value;">';
                var th = '';
                for (var pr = 0; pr < p.opcoes2.length; pr++) {
                    var thh = '';
                    if (p.opcoes[r].value == p.opcoes2[pr]) {
                        thh = ' selected';
                    }
                    th += '<option value="' + p.opcoes2[pr] + '"' + thh + '>' + p.opcoes2[pr] + '</option>';
                } // do for pr
                t += th + '</select></td>';
                t += '<td width="10%"><button title="[dic586]" onclick="javascript:licao.quest[page-1].opcoes.splice(' +
                    r +
                    ',1); showresultado(licao.quest[page-1]); return false;"><i class="fas fa-trash"></i></button></td>';
                t += '</tr>';
            } // do for...
            t += '</tbody></table>';
            t += '</div>';


// var th = '';
// t+='<center>Tabela A</center>';
// for (var r=0;r<p.opcoes2.length;r++) {
// t+='<p><input type="text" id="txt'+r+'" value="'+p.opcoes2[r]+'" onchange="javascript:licao.quest[page-1].opcoes2['+r+']=this.value;">';
// t+='<input type="button" onclick="javascript:licao.quest[page-1].opcoes2.splice('+r+',1); showresultado(licao.quest[page-1]);" value="-"></p>';
// } // do for...
// t+='<center><input type="button" onclick="javascript:licao.quest[page-1].opcoes2.push('+"' '"+'); showresultado(licao.quest[page-1]);" value="+"></center>';
// t+='<br><center>Tabela B</center>';
// for (var r=0;r<p.opcoes.length;r++) {
// t+='<p><input type="text" id="txtv'+r+'" value="'+p.opcoes[r].title+'" onchange="javascript:licao.quest[page-1].opcoes['+r+'].title=this.value;">';
// t+='<select id="lst'+r+'" onchange="javascript:licao.quest[page-1].opcoes['+r+'].value=this.value;">';
// var th='';
// for (var pr=0;pr<p.opcoes2.length;pr++) {
// var thh = '';
// if (p.opcoes[r].value == p.opcoes2[pr]) { thh = ' selected'; }
// th+='<option value="'+p.opcoes2[pr]+'"'+thh+'>'+p.opcoes2[pr]+'</option>';
// } // do for pr
// t+=th+'</select>';
// t+='<input type="button" onclick="javascript:licao.quest[page-1].opcoes.splice('+r+',1); showresultado(licao.quest[page-1]);" value="-"></p>';
// } // do for...
// t+='<center><input type="button" onclick="javascript:licao.quest[page-1].opcoes.push({ title: '+"'', value: '0'"+'}); showresultado(licao.quest[page-1]);" value="+"></center>';
} // do tipo 3
document.getElementById('dvresultado').innerHTML = t;
} // da funcao...

function save() {
if (licao.titulo.length > 0) {
if (email.length > 0) { // verificando o email...
var t = 'act=addquest&email='+email+'&sala={SALA}&id='+id;
t+='&header='+licao.titulo+'|'+licao.texto+'|'+licao.foto+'|'+licao.datai+'|'+licao.dataf+'|'+licao.datag+'|'+licao.nota;
t+='&count='+licao.quest.length;
for (var r=0;r<licao.quest.length;r++) {
t+='&quest'+r+'='+licao.quest[r].texto+'|'+licao.quest[r].enunciado+'|'+licao.quest[r].foto+'|'+licao.quest[r].valor+'|'+licao.quest[r].tipo+'|'+licao.quest[r].resultado+'|';
if (!licao.quest[r].opcoes) { t+='|'; } else {
for (var rr=0;rr<licao.quest[r].opcoes.length;rr++) {
if (licao.quest[r].opcoes[rr].title.length > 0) { t+=licao.quest[r].opcoes[rr].title+'#'+licao.quest[r].opcoes[rr].value+'_'; }
} // do for rr...
if (t[t.length-1] == '_') { t = t.substring(0,t.length-1); }
t+='|';
} // tipo do tipo lista...
if (!licao.quest[r].opcoes2) { t+='|'; } else {
for (var rr=0;rr<licao.quest[r].opcoes2.length;rr++) {
if (licao.quest[r].opcoes2[rr].length > 0) {  t+=licao.quest[r].opcoes2[rr]+'_'; }
} // do for rr...
if (t[t.length-1] == '_') { t = t.substring(0,t.length-1); }
t+='|';
} // tipo do tipo lista...
} // do for r...
// alert(t);
spjson(dic_path+'api_school.php',t,'POST', function(res) {
if (res.status == 'ok') { id=res.results; }
// alert(id+' '+res.status);
});
} else { // email valido.
window.location='index.php';
} // email invalido volta para o index...
} else { //
// caso nao exista o titulo da licao...
} // 
} // da funcao...

function setpublico(ch) {
// alert('nada');
var p = 0;
if (ch == true) { p=1; }
spopen(dic_path+'api_school.php','act=setindex&email='+localStorage.lge+'&sala='+querystring(1)+'&id='+id+'&value='+p,'POST', function(res) {
// alert(res);
});
} // da funcao...

window.onload = function() {
inicio();
} // da funcao...
</script>