<!DOCTYPE html>
                                 <html lang="en-US">
    <head>
<meta charset="UTF-8">
    <title>SnapSect - Administrator</title>
  </head>
  <body>
<div id="menu">
<center>SNAPSECT - ADMINISTRATOR</center>
</div>

<ul>
<li><button id="cmduser" onclick="javascript:window.location='snapsect_user_ger.php';">Users administrator</button></li>
<li><button id="cmdtexts" onclick="javascript:window.location='snapsect_adm.php';">Arthropods information</button></li>
<li><button id="cmdimage" onclick="javascript:window.location='add_imagem.php';">Items Picture</button></li>
<li><button id="cmdabout" onclick="javascript:window.location='add_about.php';">About & CopyRight</button></li>
<li><button id="cmdsnapsect" onclick="javascript:window.location='snapsect_ger.php';">Search Arthropod</button></li>
</ul>
<div class="foother">
{RODAPE}
</div>

</body>
</html>