<!DOCTYPE html>
                                 <html lang="en-US">
    <head>
<meta charset="UTF-8">
    <title>SnapSects</title>
  </head>
  <body onload="javascript:document.getElementById('email').focus();">
<div id="menu">
<table border="0" width="100%"><tr>
<td width="20%"><input type="button" onclick="javascript:window.location='snapsect_ger.php';" value="SEARCH ARTHROPOD"></td>
<td width="60%"><center>SNAPSECTS - LOGIN</center></td>
<td width="20%"></td>
</tr></table>
</div>
<form name="frm" method="POST">
<p><label for="email">Your e-mail: </label><input type="email" name="email" id="email" value=""></p>
<p><label for="pws">Your password: </label><input type="password" name="pws" id="pws" value=""></p>
<center><input type="submit" name="cmdlogin" id="cmdlogin" value="Login"></center>
<center><input type="submit" name="cmdnewuser" id="cmdnewuser" value="New user"></center>
<center><input type="submit" name="cmdforget" id="cmdforget" value="Forgot password"></center>
</form>
<div class="foother">
{RODAPE}
</div>

</body>
</html>